@model Department;
@{
    ViewData["Title"] = "Delete";
}

<h1>Delete Department</h1>
<br />
<br />

<form asp-action="Delete">
    <div>
        <div>
            <label asp-for="Code" class="form-label"></label>
            <input asp-for="Code" class="form-control" readonly/>
        </div>

        <div>
            <label asp-for="Name" class="form-label mt-3"></label>
            <input asp-for="Name" class="form-control" readonly/>
        </div>
        <div>

            <label asp-for="CreateAt" class="form-label mt-3"></label>
            <input asp-for="CreateAt" class="form-control" readonly/>
        </div>
    </div>

    <div class="m-4 ">
        <input type="submit" value="Delete" class="btn btn-danger mt-3 " />

        <a asp-action="Index" class="btn btn-light mt-3">Back to List</a>
    </div>
</form>

