@model RoleToReturnDto; 
@{
    ViewData["Title"] = "Details";
}

<h1>Details Page</h1>


<br />
<br />

<div >
    <div>
        <div>
            <label asp-for="Id" class="form-label"></label>
            <input asp-for="Id" class="form-control" readonly />
        </div>

        <div>
            <label asp-for="Name" class="form-label mt-3"></label>
            <input asp-for="Name" class="form-control" readonly />
        </div>
    <div class="m-4 ">
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a>

        <a asp-action="Index" class="btn btn-light ">Back to List</a>
    </div>
</div>

