@model CreateEmployeeDto

@{
    ViewData["Title"] = "Create";
}

<h1>Create Department</h1>

<br />

<br />

<form asp-action="Create">
    
    <partial name="EmployeePV/_CreateEditPView" />

    <div class="m-4 ">
        <input type="submit" value="Create" class="btn btn-primary mt-3 " />

        <a asp-action="Index" class="btn btn-light mt-3">Back to List</a>
    </div>
</form>
@section ValidationSection {
    <partial name="_ValidationScriptsPartial" />
}