
@{
    ViewData["Title"] = "CheckYourInbox";
    Layout = "~/Views/Shared/_Auth.cshtml";
}

<div class=" w-75 mx-auto p-2 main-agileinfo ">
    <div class="agileits-top">

        <p class="text-capitalize text-center my-auto text-white">Check Your Inbox ;)</p>
    </div>
        </div>


