@model ForgetPasswordDto
@{
    ViewData["Title"] = "ForgetPassword";
    Layout = "~/Views/Shared/_Auth.cshtml";
}



<form class="h-100 main-agileinfo" asp-action="SendResetPasswordUrl">
    <div class=" w-75 mx-auto p-2">
        <h3 class="text-center text-white  mb-4">Reset Your Password</h3>
        <input class="text email mb-4  w-100" asp-for="Email" placeholder="Email" required="">

        <div class="">
            <a asp-action="SignIn" class="btn btn-success px-4 text-nowrap d-block ">Back to Sign In</a>
        </div>
            <input type="submit" value="Reset Password" class="btn btn-primary px-4 d-block">
</form>

@section ValidationSection {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
